/* Product listing CSS */
.add-product-form {
  padding: 15px;
  background: #e2e2e2;
}
.add-product-form .form-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}
.add-product-form .form-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -7px;
}
.add-product-form .form-row .form-column {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 7px;
  margin-bottom: 15px;
}
.add-product-form input,
.add-product-form select {
  height: 30px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 14px;
  padding: 5px 10px;
  display: block;
}
.add-product-form .bt-wrap {
  padding-top: 15px;
  text-align: center;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 7px;
}
.add-product-form .bt-wrap button {
  min-width: 150px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding: 7px 15px;
  background: #007bff;
  color: #ffffff;
  box-shadow: none;
  border-radius: 5px;
  border: 1px solid #007bff;
  cursor: pointer;
}
